.Header {
  grid-area: header;
  grid-column: 1 / 3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  .RoomsCount {
    .number {
      display: flex;
      justify-content: center;
    }
  }
}
