.App {
  --secondary-color: #ababef;
  --primary-color: #224;
  --bgLight: #bbd;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "header header"
    "aside main";
  grid-gap: 1rem;
  height: 100vh;
}

aside {
  grid-area: aside;
  padding: 1rem;
}

main {
  grid-area: main;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

ul {
  padding-inline-start: 0;
}
