.Chat {
  display: grid;
  grid-template-columns: auto 16rem;
  grid-template-rows: 3rem auto;
  aside {
    grid-column: 2/3;
    grid-row: 1/2;
    ul {
      display: flex;
      flex-direction: column;
      li {
        flex-basis: 40px;
      }
    }
  }
  main {
    grid-column: 1/2;
    .MessagesList {
      height: 100vh;
      overflow: scroll;
    }
  }
}

.SendMessageForm {
  margin: 0 auto;
  width: 70%;
  position: fixed;
  bottom: 0;
  background-color: #ddd;
}

aside {
  display: flex;
}
