.RoomList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  align-items: space-between;
  header {
    display: flex;
    justify-content: space-between;
    .addBtn {
      padding: 0 0.8rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      color: #004;
      border-color: val(--primary-color);
      border-width: 0.02rem;
      cursor: pointer;
      transition: background 300ms;
      outline: none;
    }
    .selected {
      background-color: #444;
      color: #efefff;
    }
    .addBtn:hover {
      .selected;
    }
  }
  main {
    ul {
      list-style: none;
      display: flex;
      gap: 0.6rem;
      flex-direction: column;
    }
    li {
      transition: background 300ms;
      padding: 0.2rem;
      border-radius: 0.3rem;
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0.2rem;
        gap: 0.2rem;
        input {
          width: 100%;
        }
      }
    }
    .selected {
      background-color: var(--bgLight);
    }
    li:hover {
      .selected;
    }
    a {
      display: block;
    }
  }
}
